<!-- Education card -->
<div class="timeline__item timeline__item_type_education timeline-item">
    <div class="timeline-item__header">
        <span class="timeline-item__type-name">Education</span>
        <span class="timeline-item__date">2014 - 2018</span>
    </div>
    <div class="timeline-item__content row">
        <div class="timeline-item__logo col-12">
            <img src="./img/iitu-logo.jpg" alt="IITU">
        </div>
        <div class="timeline-item__text timeline-item__text_type_ellipsis col-12">
            <div class="timeline-item__title">
                                        <span>Bachelor degree in Computer Science and Software Engineering,
                                            <a class="timeline-item__text_type_link" href="http://www.iitu.kz">
                                                IITU
                                            </a>
                                        </span>
            </div>
            <div class="timeline-item__tags-container">
                <span class="timeline-item__tag">c#</span>
                <span class="timeline-item__tag">javascript</span>
                <span class="timeline-item__tag">go</span>
                <span class="timeline-item__tag">sqlserver</span>
                <span class="timeline-item__tag">asp.net</span>
            </div>
            <input id="timeline-item-777" class="timeline-item__expander" type="checkbox">
            <div class="timeline-item__paragraph">
                <p class="timeline-item__description timeline-item__description_size_full
                                            timeline-item__description_hidden">
                    In addition to the main course of study, I took an active part in
                    conferences, hackathons and other events dedicated to professional
                    development. While studying at the university, my team won the first place
                    in the hackathon (named "Halyk FinTech") conducted by the largest bank in
                    Kazakhstan - Halyk Bank. After some time, the team also won the first place
                    in the internal university hackathon, dedicated to the development of
                    internal technologies of the university and the improvement of the quality
                    of education. At this hackathon, our team presented an automated schedule
                    management system, which later became available to all faculty members and
                    students.
                    Major projects: 1. Schedule - automated schedule management system, which
                    consists of three main components - the back end part, admin panel, web
                    application, clients for mobile platforms (iOS, Android). The main features
                    of the Schedule system were a convenient interface for managing the
                    classroom fund, the possibility of semi-automatic scheduling with further
                    adjustments by the department, as well as the ability to view the load of
                    each teacher. 2. NNC - Neural Network Constructor, which provides people,
                    with superficial knowledge in the field of neural networks, the ability to
                    use the designer with a user-friendly interface to fully customize the
                    learning algorithm. After the neural network was configured, the user could
                    download the data set to start the learning process. At the end of the
                    learning process, the system automatically provided the opportunity to
                    publish an auto-generated API, which was accessed through tokens that the
                    owner of the neural network could manage in his panel.
                </p>
                <p class=" timeline-item__description timeline-item__description_size_truncated">
                    In addition to the main course of study, I took an active part in
                    conferences, hackathons and other events dedicated to professional
                    development. While studying at the university, my team won the first place
                    in the hackathon (named "Halyk FinTech") conducted by the largest bank in
                    Kazakhstan - Halyk Bank. After some time, the team also won the first place
                    in the internal university hackathon, dedicated to the development of
                    internal technologies of the university and the improvement of the quality
                    of education. At this hackathon, our team presented an automated schedule
                    management system, which later became available to all faculty members and
                    students.

                    Major projects: 1. Schedule - automated schedule management system, which
                    consists of three main components - the back end part, admin panel, web
                    application, clients for mobile platforms (iOS, Android). The main features
                    of the Schedule system were a convenient interface for managing the
                    classroom fund, the possibility of semi-automatic scheduling with further
                    adjustments by the department, as well as the ability to view the load of
                    each teacher. 2. NNC - Neural Network Constructor, which provides people,
                    with superficial knowledge in the field of neural networks, the ability to
                    use the designer with a user-friendly interface to fully customize the
                    learning algorithm. After the neural network was configured, the user could
                    download the data set to start the learning process. At the end of the
                    learning process, the system automatically provided the opportunity to
                    publish an auto-generated API, which was accessed through tokens that the
                    owner of the neural network could manage in his panel.
                </p>
            </div>
            <label class="timeline-item__expander-label" for="timeline-item-777"
                   data-less="Less" data-more="Read more"></label>
        </div>
    </div>
</div>
<!-- /Education card -->