<!-- Legend card -->
<div class="timeline__item timeline__item_type_legend timeline-item">
    <div class="timeline-item__header">
        Legend
    </div>
    <div class="timeline-item__content row">
        <div class="timeline-item__legend-icon col-4">
            <img class="timeline-item__legend-icon-image"
                 src="./img/timeline-position-icon.svg" alt="Position">
            <p class="timeline-item__legend-text">
                Position
            </p>
        </div>
        <div class="timeline-item__legend-icon col-4">
            <img class="timeline-item__legend-icon-image"
                 src="./img/timeline-education-icon.svg" alt="Education">
            <p class="timeline-item__legend-text">
                Education
            </p>
        </div>
        <div class="timeline-item__legend-icon col-4">
            <img class="timeline-item__legend-icon-image"
                 src="./img/timeline-opensource-icon.svg" alt="Open source">
            <p class="timeline-item__legend-text">
                Open source
            </p>
        </div>
        <div class="timeline-item__legend-icon col-4">
            <img class="timeline-item__legend-icon-image"
                 src="./img/timeline-milestone-icon.svg" alt="Milestone">
            <p class="timeline-item__legend-text">
                Milestone
            </p>
        </div>
    </div>
</div>
<!-- /Legend card -->