<!-- Position card -->
<div class="timeline__item timeline__item_type_position timeline-item">
    <div class="timeline-item__header">
        <span class="timeline-item__type-name">{{type}}</span>
        <span class="timeline-item__date">{{start_date}} → {{end_date}}</span>
        <span>{{date_diff}}</span>
    </div>
    <div class="timeline-item__content row">
        <div class="timeline-item__logo col-3">
            <img src="{{org_logo}}" alt="{{org_logo_alt_name}}">
        </div>
        <div class="timeline-item__text col-9">
            <div class="timeline-item__title">
                                        <span>
                                            {{title}}
                                            <a class="timeline-item__text_type_link" href="{{org_link}}">
                                                {{org_name}}
                                            </a>
                                        </span>
            </div>
            <!-- Think about how to manage tags -->
            <div class="timeline-item__tags-container">
                <span class="timeline-item__tag">c#</span>
                <span class="timeline-item__tag">javascript</span>
                <span class="timeline-item__tag">go</span>
                <span class="timeline-item__tag">sqlserver</span>
                <span class="timeline-item__tag">asp.net</span>
            </div>
            <input id="timeline-item-666" class="timeline-item__expander" type="checkbox">
            <div class="timeline-item__paragraph">
                <p class="timeline-item__description timeline-item__description_size_full">
                    {{description}}
                </p>
                <p class=" timeline-item__description timeline-item__description_size_truncated
                                            timeline-item__description_hidden">
                    {{description}}
                </p>
            </div>
            <label class="timeline-item__expander-label" for="timeline-item-666"
                   data-less="Less" data-more="Read more"></label>
        </div>
    </div>
</div>
<!-- /Position card -->