<!-- Position card -->
<div class="timeline__item timeline__item_type_position timeline-item">
    <div class="timeline-item__header">
        <span class="timeline-item__type-name">Position</span>
        <span class="timeline-item__date">Jan 2018 -> Current</span>
        <span>(10 months)</span>
    </div>
    <div class="timeline-item__content row">
        <div class="timeline-item__logo col-3">
            <img src="./img/alfa-bank-logo.png" alt="JSC Alfa-Bank">
        </div>
        <div class="timeline-item__text col-9">
            <div class="timeline-item__title">
                                        <span>Full stack developer at
                                            <a class="timeline-item__text_type_link" href="https://alfabank.kz">
                                                Alfa-Bank
                                            </a>
                                        </span>
            </div>
            <div class="timeline-item__tags-container">
                <span class="timeline-item__tag">c#</span>
                <span class="timeline-item__tag">javascript</span>
                <span class="timeline-item__tag">go</span>
                <span class="timeline-item__tag">sqlserver</span>
                <span class="timeline-item__tag">asp.net</span>
            </div>
            <input id="timeline-item-666" class="timeline-item__expander" type="checkbox">
            <div class="timeline-item__paragraph">
                <p class="timeline-item__description timeline-item__description_size_full">
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank
                </p>
                <p class=" timeline-item__description timeline-item__description_size_truncated
                                            timeline-item__description_hidden">
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank.
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank.
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank.
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank.
                    Development of new functionality and full life-cycle support of the
                    monolithic application widely used by the Corporate Bank.

                </p>
            </div>
            <label class="timeline-item__expander-label" for="timeline-item-666"
                   data-less="Less" data-more="Read more"></label>
        </div>
    </div>
</div>
<!-- /Position card -->