@import "bootstrap-grid.min.css";
html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  margin: 0;
}
html body {
  margin: 0;
}
.page-home {
  height: 100%;
  font-size: 1.3rem;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}
.page-home .header .nav {
  background-color: #1e7fc6;
}
.page-home .header .nav__logo {
  position: absolute;
  z-index: 20;
  top: 24px;
  left: 30px;
  text-decoration: none;
  outline: none;
  align-content: center;
}
.page-home .header .nav__menu-toggle {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 25px;
  text-decoration: none;
  pointer-events: all;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1000;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home .header .nav__menu-toggle-icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home .header .nav__menu-toggle-icon-line {
  background-color: #000;
  height: 2px;
  margin-top: 2px;
  float: right;
  clear: right;
}
.page-home .header .nav__menu-toggle-icon-line:nth-child(1) {
  margin-top: 0;
  width: 15px;
}
.page-home .header .nav__menu-toggle-icon-line:nth-child(2) {
  width: 20px;
}
.page-home .header .nav__menu-toggle-icon-line:nth-child(3) {
  width: 10px;
}
.page-home .app {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.page-home .app .app__container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.page-home .app .app__container .intro {
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background-color: #1e7fc6;
}
.page-home .app .app__container .intro .hello__padding {
  height: 100vh;
  transform: translateX(0%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home .app .app__container .intro .hello__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin: 0;
  font-family: "Gilroy ExtraBold", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 9rem;
  z-index: 10;
}
.page-home .app .app__container .intro .hello__text svg {
  width: 200px;
  height: 160px;
  overflow: hidden;
  display: block;
  transform-origin: 0 0 0;
}
.page-home .app .app__container .intro .hello__text svg .line {
  fill: none;
  stroke: #000;
  stroke-width: 41px;
  stroke-dashoffset: -3e;
  stroke-dasharray: none;
}
.page-home .app .app__container .intro .hello__text svg .dot {
  fill: #1e7fc6;
}
.page-home .app .app__container .intro .hello__page-color {
  position: absolute;
  height: 250vh;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: #f8f8f8;
  z-index: 0;
  transform: translateX(0%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
}
.page-home .app .app__container .intro .greetings {
  font-size: 1.4rem;
}
.page-home .app .app__container .intro .greetings__text {
  margin: 0;
  line-height: 1.2;
  color: white;
}
.page-home .app .app__container .intro .greetings__text:first-child {
  margin-bottom: 10px;
}
.page-home .app .app__container .intro .greetings__text:last-child {
  margin-top: 10px;
}
.page-home .app .app__container .intro .greetings__text_weight_bold {
  font-weight: bold;
}
.page-home .app .app__container .intro .greetings__text_color_black {
  color: #000;
}
.page-home .app .app__container .intro .greetings__text_size_m {
  font-size: 2rem;
}
.page-home .app .app__container .image-section-parallax__bgimage {
  width: 100%;
  height: 180px;
  background-image: url("../img/landscape-mountains.jpg");
  background-size: cover;
}
.page-home .app .app__container .about__padding {
  padding-bottom: 0;
}
.page-home .app .app__container .about__heading {
  margin-bottom: 10px;
}
.page-home .app .app__container .about__order-number {
  color: #1e7fc6;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
.page-home .app .app__container .about__title {
  text-transform: uppercase;
  color: #1e7fc6;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.page-home .app .app__container .about__bio {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page-home .app .app__container .about__text {
  color: #606060;
  font-size: 1.6rem;
}
.page-home .app .app__container .about__skills {
  margin-left: -30px;
  margin-right: -30px;
  background-color: #1c1b20;
}
.page-home .app .app__container .about .skills__frontend {
  margin-bottom: 30px;
}
.page-home .app .app__container .about .skills__backend {
  margin-bottom: 30px;
}
.page-home .app .app__container .about .skills__mobile {
  margin-bottom: 30px;
}
.page-home .app .app__container .about .skills__desktop {
  margin-bottom: 30px;
}
.page-home .app .app__container .about .skills__title {
  margin-top: 0;
}
.page-home .app .app__container .about .skills__title_color_white {
  color: white;
}
.page-home .app .app__container .about .skills__title_size_m {
  font-size: 1.6rem;
}
.page-home .app .app__container .about .skills__text {
  font-size: 1.4rem;
  color: #dcdcdc;
  line-height: 2;
}
.page-home .app .app__container .experience__heading {
  margin-bottom: 10px;
}
.page-home .app .app__container .experience__order-number {
  color: #1e7fc6;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
.page-home .app .app__container .experience__title {
  text-transform: uppercase;
  color: #1e7fc6;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.page-home .app .app__container .experience__timeline-feed {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.page-home .app .app__container .experience .timeline__item {
  width: calc(100% - 24px);
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #dcdcdc;
  color: #000;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  margin-top: 30px;
}
.page-home .app .app__container .experience .timeline__item:first-child {
  margin-top: 0;
}
.page-home .app .app__container .experience .timeline__item:after {
  content: "";
  position: absolute;
  top: 15px;
  right: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #dcdcdc;
}
.page-home .app .app__container .experience .timeline__item_type_education .timeline-item__title {
  margin-top: 10px;
}
.page-home .app .app__container .experience .timeline__item_type_education .timeline-item__text {
  padding-left: 0;
}
.page-home .app .app__container .experience .timeline__item_type_education .timeline-item__logo {
  max-width: 100% !important;
}
.page-home .app .app__container .experience .timeline .timeline-item__header {
  font-family: "Gilroy ExtraBold", sans-serif !important;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  text-transform: capitalize;
}
.page-home .app .app__container .experience .timeline .timeline-item__date-diff {
  text-transform: lowercase !important;
}
.page-home .app .app__container .experience .timeline .timeline-item__date:before {
  content: " \02022 ";
  padding-left: 2px;
  padding-right: 4px;
}
.page-home .app .app__container .experience .timeline .timeline-item__content {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__legend-icon {
  text-align: center;
  display: inline-block;
  padding: 10px 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__legend-icon-image {
  height: 15px;
}
.page-home .app .app__container .experience .timeline .timeline-item__legend-text {
  margin: 5px 0 0 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__logo {
  max-width: 60px;
  padding-left: 0;
  padding-right: 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.page-home .app .app__container .experience .timeline .timeline-item__text {
  padding-right: 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__text_type_ellipsis .timeline-item__expander-label {
  display: block;
}
.page-home .app .app__container .experience .timeline .timeline-item__text_type_link {
  color: #1e7fc6;
  text-decoration: none;
}
.page-home .app .app__container .experience .timeline .timeline-item__tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.page-home .app .app__container .experience .timeline .timeline-item__tag {
  display: inline-block;
  text-transform: lowercase;
  background-color: #e1ecf4;
  color: #39739d;
  padding: 0.4rem 0.5rem;
  margin: 2px 2px 2px 0;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #e1ecf4;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.page-home .app .app__container .experience .timeline .timeline-item__tag:hover {
  background-color: #cee0ed;
  border-color: #cee0ed;
}
.page-home .app .app__container .experience .timeline .timeline-item__description {
  margin-top: 10px;
  margin-bottom: 0;
}
.page-home .app .app__container .experience .timeline .timeline-item__description_size_truncated {
  max-height: 108px;
  overflow: hidden;
}
.page-home .app .app__container .experience .timeline .timeline-item__description_size_truncated:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 78%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}
.page-home .app .app__container .experience .timeline .timeline-item__description_hidden {
  display: none;
}
.page-home .app .app__container .experience .timeline .timeline-item__expander {
  display: none;
}
.page-home .app .app__container .experience .timeline .timeline-item__expander ~ .timeline-item__expander-label:after {
  content: attr(data-more);
}
.page-home .app .app__container .experience .timeline .timeline-item__expander:checked ~ .timeline-item__expander-label:after {
  content: attr(data-less);
}
.page-home .app .app__container .experience .timeline .timeline-item__expander:checked ~ .timeline-item__paragraph > .timeline-item__description_size_truncated {
  display: none;
}
.page-home .app .app__container .experience .timeline .timeline-item__expander:checked ~ .timeline-item__paragraph > .timeline-item__description_size_full {
  display: block;
}
.page-home .app .app__container .experience .timeline .timeline-item__expander-label {
  display: none;
  color: #1e7fc6;
  margin-top: 10px;
}
.page-home .app .app__container .experience .timeline .timeline-item__expander-label:after {
  width: auto;
}
.__padding {
  position: relative;
  z-index: 10;
  padding: 30px 30px;
}
.__console-font {
  font-family: "Roboto Mono", sans-serif;
}
.__title-font {
  font-family: "Gilroy ExtraBold", sans-serif;
}
.__parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */