/**
### Responsive breakpoints ###

- Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

- Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

- Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

- Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

- Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
@import "./css/bootstrap-grid.min.css";

// Global parameters
$accent-color: #1e7fc6;
$background-color: #f8f8f8;

$border-size-m: 40px;
$border-size-l: 60px;

$top-bottom-padding-xs: 40px;
$left-right-padding-xs: 30px;
$top-bottom-padding-m: 8vh;
$left-right-padding-m: 10vw;
$top-bottom-padding-l: 10vh;
$left-right-padding-l: 15vw;
$top-bottom-padding-xl: 10vh;
$right-padding-xl: 165px;
$left-padding-xl: 15vw;

$min-width-s: 578px;
$min-width-m: 768px;
$min-width-l: 992px;
$min-width-xl: 1200px;
$min-width-xxl: 1500px;

$content-container-bottom-margin-xs: 100px;
$content-container-bottom-margin-m: 100px + $border-size-m;
$content-container-bottom-margin-l: 100px + $border-size-l;

@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroy/Gilroy-ExtraBold.otf");
}

@mixin hidden {
  display: none;
}

@mixin title-font {
  font-family: Gilroy, sans-serif;
  font-weight: 900;
}

@mixin console-font {
  font-family: "Roboto Mono", sans-serif;
}

@mixin accent-font {
  font-family: "Libre Baskerville", "Playfair Display", serif;

}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  margin: 0;

  body {
    margin: 0;
  }

  template {
    //display: none;
  }
}

// region Animated elements

.menu_open {
  .menu {
    transform: translateX(0) !important;

    .menu__background {
      transform: translateX(0) !important;
    }

    .menu__container {
      transform: translateX(0) !important;
    }
  }

  .nav {
    &__menu-toggle-icon-line {

      &:nth-child(1) {
        margin-top: 2px !important;
        margin-left: 2px !important;
        width: 20px !important;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 20px !important;
        margin-top: -2px !important;
        transform: rotate(-45deg);
      }

      &:nth-child(3) {
        width: 0 !important;
      }
    }
  }
}

.hello_visible {
  .hello__text {
    left: 100% !important;
  }

  .hello__page-color {
    transform: translateX(100%) !important;
  }

  .greetings {
    transition: opacity 500ms ease-in 500ms !important;
    opacity: 1 !important;
  }
}

// endregion Animated elements

.page-home {
  height: 100%;
  font-size: 1.3rem;
  color: #000;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  pointer-events: all;

  @media (min-width: $min-width-m) {
    font-size: 1.4rem;
  }

  @media (min-width: $min-width-l) {
    font-size: 1.5rem;
  }

  .header {
    .nav {
      height: auto;
      background-color: $accent-color;

      &__logo {
        position: absolute;
        z-index: 20;
        top: 28px;
        left: $left-right-padding-xs;
        text-decoration: none;
        outline: none;
        align-content: center;

        @media (min-width: $min-width-m) {
          position: fixed;
          top: 10px;
          left: $border-size-m;
          z-index: 1000;
        }

        @media (min-width: $min-width-l) {
          top: 15px;
          left: $border-size-l;
        }

        img {
          width: 30px;

          @media (min-width: $min-width-m) {
            width: 25px;
          }

          @media (min-width: $min-width-l) {
            width: 30px;
          }
        }
      }

      &__lang-switch {
        @include hidden;
        margin: 0;
        padding: 0;
        z-index: 1000;
        list-style: none;

        @media (min-width: $min-width-m) {
          display: block;
          position: fixed;
          top: $border-size-m;
          right: 5px;
        }

        @media (min-width: $min-width-l) {
          top: $border-size-l;
          right: 15px;
        }
      }

      &__lang-switch-item {
        display: block;
        text-transform: uppercase;

        a {
          padding: 0;
          color: #dcdcdc;
          font-size: 1.4rem;
          font-weight: bold;
          text-decoration: none;
        }
      }

      &__lang-switch-item_active {
        a {
          color: #000;
        }
      }

      &__pages {
        @include hidden;
        z-index: 1000;
        counter-reset: nav-section-counter -1;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: $min-width-m) {
          display: block;
          position: fixed;
          top: 10px;
          right: $border-size-m;
        }

        @media (min-width: $min-width-l) {
          top: 15px;
          right: $border-size-l;
        }
      }

      &__page-item {
        display: inline-block;
        margin-right: 15px;
      }

      &__page-link {
        text-decoration: none;
        outline: none;
        color: #000;
        font-weight: bold;

        &:before {
          counter-increment: nav-section-counter;
          content: "0" counter(nav-section-counter) ".";
          color: $accent-color;
        }
      }

      &__hello-button-item {
        margin-left: 20px;
        display: inline-block;
        background-color: white;
        transition: background-color 300ms ease-in-out 0ms;

        @media (min-width: $min-width-l) {
          padding: 5px 15px;
          border: 1px solid $accent-color;
        }

        &:hover {
          background-color: #f3fdff;
        }

        a {
          font-weight: bold;
          padding: 0 0 5px 0;
          color: $accent-color;
          text-decoration: underline solid $accent-color;
          outline: none;

          @media (min-width: $min-width-l) {
            text-decoration: none;
          }
        }
      }

      &__socials {
        @include hidden;
        z-index: 1000;
        padding: 0;
        list-style: none;

        @media (min-width: $min-width-m) {
          display: block;
          position: fixed;
          bottom: $border-size-m + 10px;
          //top: 50%;
          right: 13px;
          transform: translateY(calc(-50% - #{$border-size-m}));
        }

        @media (min-width: $min-width-l) {
          right: 18px;
          transform: translateY(calc(-50% - #{$border-size-l}));
        }
      }

      &__socials-item {
        display: block;
        max-height: 25px;
        max-width: 25px;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          outline: none;

          img {
            max-height: 15px;
            width: auto;

            @media (min-width: $min-width-l) {
              max-height: 20px;
            }
          }
        }


      }

      &__socials-item_rotated {
        margin-top: 20px;
        writing-mode: vertical-rl;

        a {
          color: #000;
          text-decoration: none;
          outline: none;
          transition: color 300ms ease-in-out 0ms;

          &:hover {
            color: $accent-color;
          }
        }
      }

      &__menu-toggle {
        position: fixed;
        top: 20px;
        right: 30px;
        height: 45px;
        width: 45px;
        background: #fff;
        border-radius: 25px;
        text-decoration: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 1000;
        transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;

        @media (min-width: $min-width-m) {
          @include hidden;
        }
      }

      &__menu-toggle-icon {
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
      }

      &__menu-toggle-icon-line {
        background-color: #000;
        height: 2px;
        margin-top: 2px;
        float: right;
        clear: right;
        transition: all 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;

        &:nth-child(1) {
          margin-top: 0;
          width: 15px;
        }

        &:nth-child(2) {
          width: 20px;
        }

        &:nth-child(3) {
          width: 10px;
        }
      }
    }
  }

  //region Menu

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    z-index: 500;
    transform: translateX(-100%);
    transition: transform 700ms cubic-bezier(1, 0, 0, 1) 0ms;
    background-color: transparent;

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $accent-color;
      transform: translateX(-100%);
      transition: transform 700ms cubic-bezier(1, 0, 0, 1) 0ms
    }

    &__container {
      position: relative;
      // Full width minus size of the menu button, minus left-right to visually center menu button
      width: calc(100% - 45px - #{$left-right-padding-xs} * 2);
      height: 100%;
      background-color: #fff;
      z-index: 501;
      transform: translateX(-100%);
      transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;

      @media (min-width: $min-width-m) {
        width: calc(100% - 45px - #{$left-right-padding-m} * 2);
      }
    }

    &__lang-switch {
      margin: 0 0 40px 0;
      list-style: none;
      padding: 0;
    }

    &__lang-switch-item {
      display: inline-block;
      text-transform: uppercase;

      a {
        color: #dcdcdc;
        text-decoration: none;
        outline: none;
        font-size: 1.4rem;
        font-weight: bold;

        &:visited {
          color: #dcdcdc;
        }
      }
    }

    &__lang-switch-item_active {
      a {
        color: #000 !important;
      }
    }

    &__nav {
      font-size: 1.4rem;
      margin-top: 140px;
      margin-bottom: 20px;
      padding: 0;
      list-style: none;
    }

    &-nav {
      counter-reset: nav-section-counter -1;

      &__item {
        margin-top: 10px;
      }

      &__link {
        text-decoration: none;
        outline: none;
        color: #000;
        font-weight: bold;

        &:before {
          counter-increment: nav-section-counter;
          content: "0" counter(nav-section-counter) ".";
          color: $accent-color;
        }
      }

      &__link_type_mail {
        color: $accent-color;
      }
    }

    &__socials {
      padding: 0;
      list-style: none;
    }

    &__socials-item {
      display: inline-block;
      max-height: 25px;
      max-width: 25px;
      margin-right: 10px;

      a {
        text-decoration: none;
        outline: none;

        img {
          max-height: 25px;
          width: auto;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__contacts {
      position: absolute;
      text-align: left;
      bottom: $top-bottom-padding-xs;
    }

    &__contacts-text {
      margin: 0 0 10px 0;
      font-size: 1rem;
    }

    &__contacts-link {
      color: $accent-color
    }
  }

  //endregion Menu

  // region Popup

  .popup {
    display: none !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translate(0, -100vh);
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, visibility 500ms linear 0ms;
    background-color: rgba(#000, 0.6);

    &__padding {
      padding: 50px;
    }

    &__container {
      background-color: white;
      border: 1px solid $accent-color;
      text-align: center;
      overflow: hidden;
    }

    &__title {
      margin: 0;
      font-size: 3rem;

      @media (min-width: $min-width-l) {
        font-size: 5rem;
      }
    }

    &__text {
      color: #000;
      line-height: 1.4;
    }

    &__browsers-container {
      margin-top: 30px;
      margin-left: -50px;
      margin-right: -50px;
      overflow: auto;

      @media (min-width: $min-width-l) {
        margin-top: 60px;
      }
    }

    &__browser-item {
      margin-right: 10px;

      @media (min-width: $min-width-l) {
        margin-right: 25px;
      }

      a {
        margin-top: 20px;
        text-decoration: none;
        color: $accent-color;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__logo {
      max-width: 60px;

      @media (min-width: $min-width-l) {
        max-width: 100px;
      }
    }

    &__button {
      cursor: pointer;
      margin-top: 30px;
      background-color: white;
      border: 1px solid $accent-color;
      color: $accent-color;
      font-weight: bold;
      padding: 10px 25px;
    }
  }

  // endregion Popup

  // region Scroll-to-Top button

  .scroll-to-top {
    position: fixed;
    cursor: pointer;
    z-index: 110;
    transform: rotate(90deg);
    right: $border-size-m + 20px;
    transition: bottom 300ms ease-in-out 0ms;

    @media (min-width: $min-width-l) {
      right: $border-size-l + 10px;
    }

    a {
      color: #000;
      text-decoration: none;
      outline: none;

      span {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  // endregion Scroll-to-Top button

  // region Borders

  .borders {
    & > * {
      position: fixed;
      z-index: 100;
      background: #fff;
      transform: translate(0, 0) scale(1);
      transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    }

    &__top {
      top: 0;
      left: 0;
      width: 100%;

      @media (min-width: $min-width-m) {
        height: $border-size-m;
      }

      @media (min-width: $min-width-l) {
        height: $border-size-l;
      }
    }

    &__right {
      top: 0;
      right: 0;
      height: 100%;

      @media (min-width: $min-width-m) {
        width: $border-size-m;
      }

      @media (min-width: $min-width-l) {
        width: $border-size-l;
      }
    }

    &__left {
      top: 0;
      left: 0;
      height: 100%;

      @media (min-width: $min-width-m) {
        width: $border-size-m;
      }

      @media (min-width: $min-width-l) {
        width: $border-size-l;
      }
    }

    &__bottom {
      bottom: 0;
      left: 0;
      width: 100%;

      @media (min-width: $min-width-m) {
        height: $border-size-m;
      }

      @media (min-width: $min-width-l) {
        height: $border-size-l;
      }
    }
  }

  // endregion Borders

  .content {
    counter-reset: content-section-counter -1;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;

    .content__container {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: $content-container-bottom-margin-xs;
      position: relative;
      background: $background-color;
      overflow: hidden;
      transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;

      @media (min-width: $min-width-m) {
        margin-bottom: $content-container-bottom-margin-m;
      }

      @media (min-width: $min-width-l) {
        margin-bottom: $content-container-bottom-margin-l;
      }

      .intro {
        z-index: 0;
        background-color: $accent-color;
        overflow: hidden;

        .hello {
          @media (min-width: $min-width-m) {
            position: fixed;
            width: 100%;
          }

          &__padding {
            height: 100vh;
            padding-top: 0;
            padding-bottom: 0;
          }

          &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: left 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
            white-space: nowrap;
            margin: 0;
            font-family: "Gilroy ExtraBold", sans-serif;
            text-transform: uppercase;
            font-size: 9rem;
            z-index: 10;

            svg {
              width: 200px;
              height: 160px;
              overflow: hidden;
              display: block;
              transform-origin: 0 0 0;

              .line {
                fill: none;
                stroke: #000;
                stroke-width: 41px;
                stroke-dashoffset: 2e-05;
                stroke-dasharray: none;
              }

              .dot {
                fill: $accent-color;
              }
            }
          }

          &__page-color {
            position: absolute;
            height: 250vh;
            top: 0;
            left: 50%;
            right: 0;
            bottom: 0;
            background-color: $background-color;
            z-index: 0;
            transform: translateX(0%);
            transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
          }

          &__scroll-text {
            opacity: 1;
            position: absolute;
            left: 50%;
            bottom: 100px;
            color: white;
            font-size: 1rem;
            transform: rotate(-90deg) translateY(-60px);
            transition: opacity 500ms linear;
          }

          &__scroll-text_hidden {
            opacity: 0;
          }
        }

        .greetings {
          opacity: 0;
          font-size: 1.4rem;
          transition: opacity 500ms ease-out 0ms;
          background-color: $accent-color;

          @media (min-width: $min-width-m) {
            position: fixed;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            height: 100vh;
          }

          &__padding {
            @media (min-width: $min-width-m) {
              padding-right: 0 !important;
              max-width: 60%;
            }

            @media (min-width: $min-width-xl) {
              max-width: 90%;
            }
          }

          &__text {
            margin: 0;
            color: white;

            @media (min-width: $min-width-m) {
              font-size: 1.6rem;
            }

            &:first-child {
              margin-bottom: 10px;
            }

            &:last-child {
              margin-top: 10px;
            }
          }

          &__text_weight_bold {
            font-weight: bold;
          }

          &__text_color_black {
            color: #000;
          }

          &__text_size_l {
            font-size: 2rem;

            @media (min-width: $min-width-m) {
              line-height: 1.0 !important;
              font-size: 3em;
            }

            @media (min-width: $min-width-xl) {
              font-size: 5em;
            }
          }
        }

        &__scroller {
          @media (min-width: $min-width-m) {
            z-index: 2000;
            background-color: transparent;
            width: 100%;
            height: 200vh;
            overflow: auto;
          }
        }
      }

      .image-section-parallax {
        position: relative;

        &__bgimage {
          width: 100%;
          height: 180px;
          background-image: url("/img/landscape-mountains.jpg");
          background-size: cover;
          background-position: center;

          @media (min-width: $min-width-m) {
            z-index: 100;
            height: 70vh;
            width: auto;
          }
        }
      }

      .about {
        &__padding {
          padding-bottom: 0;
        }

        &__heading {
          margin-bottom: 10px;
        }

        &__title {
          text-transform: uppercase;
          color: $accent-color;
          font-size: 4rem;
          font-weight: bold;
          margin: 0;

          @media (min-width: $min-width-m) {
            font-size: 5rem;
          }

          &:before {
            @include console-font;
            display: block;
            counter-increment: content-section-counter;
            content: "0" counter(content-section-counter) ".";
            color: $accent-color;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;

            @media (min-width: $min-width-m) {
              font-size: 2.5rem;
            }
          }
        }

        &__bio {
          padding-bottom: $top-bottom-padding-xs;

          @media (min-width: $min-width-m) {
            padding-bottom: $top-bottom-padding-m;
          }

          @media (min-width: $min-width-l) {
            float: left;
            width: 45%;
            padding-right: 40px;
          }

          @media (min-width: $min-width-xxl) {
            padding-right: 80px;
          }
        }

        &__pre-phrase {
          padding: 40px 0;
          font-size: 2.1rem;

          @media (min-width: $min-width-m) {
            font-size: 2.8rem;
          }

          i {
            font-weight: 300;
          }
        }

        &__text {
          color: #606060;
          font-size: 1.6rem;
          line-height: 1.4;
        }

        &__skills {
          margin-left: -$left-right-padding-xs;
          margin-right: -$left-right-padding-xs;
          background-color: #1c1b20;

          @media (min-width: $min-width-m) {
            margin-left: -$left-right-padding-m;
            margin-right: -$left-right-padding-m;
          }

          @media (min-width: $min-width-l) {
            margin-top: 250px;
            margin-left: 45%;
            margin-right: -$left-right-padding-l;
          }
        }

        &__skills-padding {
          padding: $top-bottom-padding-xs $left-right-padding-xs;

          @media (min-width: $min-width-m) {
            padding: $top-bottom-padding-m $left-right-padding-m;
          }
        }

        .skills {
          &__pre-phrase {
            color: white;
            padding-bottom: $top-bottom-padding-xs;

            @media (min-width: $min-width-m) {
              padding-bottom: $top-bottom-padding-m;
            }

            h2 {
              margin: 0;
              font-size: 2.1rem;

              @media (min-width: $min-width-m) {
                font-size: 2.8rem;
              }
            }

            i {
              font-weight: 300;
            }
          }

          &__container {
            margin-left: 0;
            margin-right: 0;
          }

          &__frontend {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;
          }

          &__backend {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;
          }

          &__mobile {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;

            @media (min-width: $min-width-m) {
              margin-bottom: 0;
            }
          }

          &__desktop {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;

            @media (min-width: $min-width-m) {
              margin-bottom: 0;
            }
          }

          &__management-and-percs {
            // Custom style here
            padding-left: 0;
            padding-right: 0;
          }

          &__title {
            margin-top: 0;
          }

          &__title_color_white {
            color: white;
          }

          &__title_size_m {
            font-size: 1.6rem;
          }

          &__text {
            font-size: 1.4rem;
            color: #dcdcdc;
            line-height: 2;
          }
        }
      }

      .experience {
        &__padding {
          @media (min-width: $min-width-l) {
            padding-top: 0 !important;
          }
        }

        &__heading {
          margin-bottom: 10px;
        }

        &__title {
          text-transform: uppercase;
          color: $accent-color;
          font-size: 4rem;
          font-weight: bold;
          margin: 0;

          @media (min-width: $min-width-m) {
            font-size: 5rem;
          }

          &:before {
            @include console-font;
            display: block;
            counter-increment: content-section-counter;
            content: "0" counter(content-section-counter) ".";
            color: $accent-color;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;

            @media (min-width: $min-width-m) {
              font-size: 2.5rem;
            }
          }
        }

        &__container {
          height: 100%;
        }

        &__bg-scroll-container {
          display: none;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 45%;
          padding-right: 40px;

          @media (min-width: $min-width-xxl) {
            padding-right: 80px;
          }
        }

        &__pre-phrase {
          padding: 40px 0;
          font-size: 2.1rem;

          @media (min-width: $min-width-m) {
            font-size: 2.8rem;
          }

          i {
            font-weight: 300;
          }
        }

        &__bg-scroll {
          height: 250px;
          background-color: #9acced;
          overflow: hidden;
          margin-left: calc(-#{$left-right-padding-l} + #{$border-size-l});

          @media (min-width: $min-width-xxl) {
            height: 300px;
          }

          p {
            margin: 0;
            color: #fff;
            font-size: 30rem;
          }
        }

        &__timeline-feed {
          max-width: 100%;
          position: relative;
          margin-top: $top-bottom-padding-xs;

          @media (min-width: $min-width-m) {
            margin-top: $top-bottom-padding-m;
          }

          @media (min-width: $min-width-xl) {
            //margin-left: 45%;
          }
        }

        .timeline {
          &__line {
            width: 1px;
            background-color: #1c1b20;
            position: absolute;
            top: 15px;
            right: 0;
            bottom: 0;

            @media (min-width: $min-width-m) {
              left: 50%;
            }
          }

          &__item {
            width: calc(100% - 24px);
            display: inline-block;
            position: relative;
            margin-top: 30px;
            background-color: white;
            vertical-align: top;
            border: 1px solid #dcdcdc;
            color: #000;
            @include console-font;
            font-size: 1.3rem;
            padding: 10px;

            &:nth-child(odd) {
              @media (min-width: $min-width-m) {
                margin-top: 150px;
                margin-left: 43px;
                margin-bottom: -100px;
              }
            }

            &:last-child {
              @media (min-width: $min-width-m) {
                margin-bottom: 0;
              }
            }

            @media (min-width: $min-width-m) {
              padding: 20px;
              width: calc(50% - 24px);
            }

            &:before {
              content: "";
              position: absolute;
              top: 8px;
              width: 27px;
              height: 27px;
              border: 2px solid #1c1b20;
              border-radius: 50%;
              background-color: #fff;
              background-repeat: no-repeat;
              background-position: center;
            }

            &:nth-child(odd):before {
              right: -37px;

              @media (min-width: $min-width-m) {
                left: -37px;
              }
            }

            &:nth-child(even):before {
              right: -37px;

              @media (min-width: $min-width-m) {
                right: -39px;
              }
            }

            &:after {
              content: "";
              position: absolute;
              top: 15px;
              width: 0;
              height: 0;
              right: -6px;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid #dcdcdc;
            }

            &:nth-child(odd):after {
              @media (min-width: $min-width-m) {
                left: -6px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 6px solid #dcdcdc;

                // Reset style from mobile
                border-left: none !important;
              }
            }

            &:nth-child(even):after {
              @media (min-width: $min-width-m) {
                right: -6px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid #dcdcdc;
              }
            }
          }

          // Card specific styles
          &__item_type_legend {
            margin-top: 0 !important;

            &:before {
              background-image: url("/public/img/timeline-info-icon.svg");
            }
          }

          &__item_type_position {
            &:before {
              background-image: url("/public/img/timeline-position-icon.svg");
            }
          }

          &__item_type_education {
            .timeline-item__title {
              margin-top: 10px;
            }

            .timeline-item__text {
              padding-left: 0;
            }

            .timeline-item__logo {
              max-width: 100% !important;
            }

            &:before {
              background-image: url("/public/img/timeline-education-icon.svg");
            }
          }

          &__item_type_open-source {
            &:before {
              background-image: url("/public/img/timeline-opensource-icon.svg");
            }
          }

          &__item_type_milestone {
            .timeline-item__logo {
              max-width: 100% !important;
            }

            .timeline-item__text {
              padding-left: 0;
            }

            &:before {
              background-image: url("/public/img/timeline-milestone-icon.svg");
            }
          }

          .timeline-item {
            &__header {
              @include title-font;
              padding-bottom: 10px;
              border-bottom: 1px solid #dcdcdc;
              text-transform: capitalize;
            }

            &__type-name {
              // Custom styles here
            }

            &__date-diff {
              text-transform: lowercase !important;
            }

            &__date:before {
              content: " \02022 ";
              padding-left: 2px;
              padding-right: 4px;
            }

            &__content {
              margin-top: 10px;
              margin-left: 0;
              margin-right: 0;

            }

            &__legend-icon {
              text-align: center;
              display: inline-block;
              padding: 10px 0;
            }

            &__legend-icon-image {
              height: 15px;
            }

            &__legend-text {
              margin: 5px 0 0 0;
            }

            &__logo {
              max-width: 60px;
              padding-left: 0;
              padding-right: 0;

              img {
                width: 100%;
                max-width: 100%;
                height: auto;
              }
            }

            &__text {
              padding-right: 0;
            }

            &__text_type_ellipsis {
              .timeline-item__expander-label {
                display: block;
              }
            }

            &__text_type_link {
              color: $accent-color;
              text-decoration: none;
            }

            &__tags-container {
              display: flex;
              flex-wrap: wrap;
              margin-top: 10px;
            }

            &__tag {
              display: inline-block;
              text-transform: lowercase;
              background-color: #e1ecf4;
              color: #39739d;
              padding: .4rem 5rem;
              margin: 2px 2px 2px 0;
              line-height: 1;
              white-space: nowrap;
              text-align: center;
              border: 1px solid #e1ecf4;
              border-radius: 3px;
              transition: all .15s ease-in-out;

              &:hover {
                background-color: #cee0ed;
                border-color: #cee0ed;
              }
            }

            &__description {
              margin-top: 10px;
              margin-bottom: 0;
              line-height: 1.4;
            }

            &__description_size_truncated {
              max-height: 108px;
              overflow: hidden;

              &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 25px;
                right: 0;
                width: 75%;
                height: 1.5em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
              }
            }

            &__description_hidden {
              display: none;
            }

            &__expander {
              display: none;

              // Change label content
              // Show less description
              & ~ .timeline-item__expander-label:after {
                content: attr(data-more);
              }

              // Change label content
              // Show full description
              &:checked ~ .timeline-item__expander-label:after {
                content: attr(data-less);
              }

              &:checked ~ .timeline-item__paragraph > .timeline-item__description_size_truncated {
                display: none;
              }

              &:checked ~ .timeline-item__paragraph > .timeline-item__description_size_full {
                display: block;
              }
            }

            &__expander-label {
              display: none;
              color: $accent-color;
              margin-top: 10px;

              &:after {
                width: auto;
              }
            }
          }
        }
      }

      .contacts {
        height: calc(100vh - #{$content-container-bottom-margin-xs});

        @media (min-width: $min-width-m) {
          height: calc(100vh - #{$content-container-bottom-margin-m});
        }

        @media (min-width: $min-width-l) {
          height: calc(100vh - #{$content-container-bottom-margin-l});
        }

        &__padding {
          @media (min-width: $min-width-xl) {
            padding-left: $left-padding-xl !important;
            padding-right: $left-padding-xl !important;
          }
        }

        &__heading {
          text-align: center;
          margin-bottom: 10px;
        }

        &__title {
          display: inline-block;
          text-transform: uppercase;
          color: $accent-color;
          font-size: 4rem;
          font-weight: bold;
          margin: 0;

          @media (min-width: $min-width-m) {
            font-size: 5rem;
          }

          &:before {
            @include console-font;
            counter-increment: content-section-counter;
            content: "0" counter(content-section-counter) ".";
            color: $accent-color;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;

            @media (min-width: $min-width-m) {
              font-size: 2.5rem;
            }
          }
        }

        &__content {
          text-align: center;
          margin-bottom: $top-bottom-padding-xs;

          @media (min-width: $min-width-m) {
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;
          }

          @media (min-width: $min-width-l) {
            max-width: 50%;
          }
        }

        &__hello-text {
          margin-top: $top-bottom-padding-xs;
          text-transform: capitalize;
          font-size: 3rem;

          @media (min-width: $min-width-m) {
            margin-top: $top-bottom-padding-m;
            font-size: 3.5rem;
          }

          @media (min-width: $min-width-l) {
            margin-top: $top-bottom-padding-l;
            font-size: 4rem;
          }
        }

        &__text {
          color: #606060;
          line-height: 1.5;
          margin-bottom: 50px;
        }

        &__say-hello-button {
          border: $accent-color;
          color: $accent-color;
          font-size: 1.3rem;
          padding: 10px 30px;
          text-decoration: none;
          outline: none;
          transition: background-color 300ms ease-in-out 0ms;
          background-color: white;

          &:hover {
            background-color: #f3fdff;
          }

          @media (min-width: $min-width-m) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .page-not-found {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: $background-color;
    overflow: hidden;

    &__scene {
      // Custom styles
    }

    &__404 {
      z-index: 10;

      svg {
        width: 250px;
        overflow: hidden;
        display: block;
        transform-origin: 0 0 0;
        fill: #000;

        @media(min-width: $min-width-l) {
          width: 300px;
        }
      }
    }

    &__404_color_accent {
      z-index: 0;
      top: 10px;
      left: 10px;

      svg {
        fill: $accent-color;
      }
    }

    &__title {
      color: #000;
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;

      @media(min-width: $min-width-l) {
        font-size: 3.5rem;
      }
    }

    &__text {
      color: #606060;
      text-align: center;
      line-height: 1.4;
      margin-top: 20px;
    }

    &__buttons {
      margin-top: 30px;
    }

    &__link {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      text-transform: uppercase;
      outline: none;
      color: $accent-color;
      font-weight: bold;
      border: 1px solid $accent-color;
      background-color: #fff;
      text-align: center;
      cursor: pointer;

      @media(min-width: $min-width-m) {
        min-width: 140px;
      }

      &:first-child {
        margin-right: 15px;
      }
    }

    &__link_accent {
      background-color: $accent-color;
      color: #fff;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $content-container-bottom-margin-xs;
    text-align: center;

    @media (min-width: $min-width-m) {
      height: $content-container-bottom-margin-m;
    }

    @media (min-width: $min-width-l) {
      height: $content-container-bottom-margin-l;
    }

    &__text {
      margin: 0 0 10px 0;
      font-size: 1rem;

      @media (min-width: $min-width-l) {
        //max-width: 50%;
        font-size: 1.3rem;
      }
    }

    &__link {
      color: $accent-color
    }
  }
}

// Styles without namespaces
.__padding {
  position: relative;
  z-index: 10;
  padding: $top-bottom-padding-xs $left-right-padding-xs;

  @media (min-width: $min-width-m) {
    padding: $top-bottom-padding-m $left-right-padding-m;
  }

  @media (min-width: $min-width-l) {
    padding: $top-bottom-padding-l $left-right-padding-l;
  }

  @media (min-width: $min-width-xl) {
    padding: $top-bottom-padding-xl $right-padding-xl $top-bottom-padding-xl $left-padding-xl;
  }
}

.__hidden {
  @include hidden;
}

.__title-font {
  @include title-font;
}

.__console-font {
  @include console-font;
}

.__accent-font {
  @include accent-font;
}